<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <link rel="icon" href="../static/images/airplane (1).png">
  <title>Odyssey</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate-01.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flex-slider-02.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl-01.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templatemo-villa-agency.css') }}">


  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
  </style>
</head>

<body>
  <div class="ie-panel pb-0"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
        src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
        alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
  </div>
  <div class="preloader pb-0">
    <div class="preloader-body">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
      <p>Loading...</p>
    </div>
  </div>
  <div class="page mb-0">
    <header class="section page-header mt-0 mb-0 pb-0 pt-0"  >
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
          data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
          data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
          data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
          data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
          data-xxl-stick-up-offset="106px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse">
            <span></span></div>
            <div class="rd-navbar-aside-outer">
              <div class="rd-navbar-aside"  style="
              padding-top: 0px;
              padding-bottom: 0px"> 
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel ">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  
                </div>
                <div class="rd-navbar-aside-right rd-navbar-collapse">
                 
                   </div>
              </div>
            </div>

            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap">
                  <ul class="list-inline list-inline-md rd-navbar-corporate-list-social">
                    <li><a class="icon fa fa-facebook" href="/login"> Log In</a></li>
                    <li><a class="icon fa fa-twitter" href="#"></a></li>
                    <li><a class="icon fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon fa fa-instagram" href="#"></a></li>
                  </ul>
                
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item" ><a class="rd-nav-link" href="/">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">About</a>
                    </li>
                    <li class="rd-nav-item active""><a class="rd-nav-link" href="/tours">Destination</a>
                    </li>
                   
                  </ul>
                </div>
              </div>
            </div>
        </nav>
      </div>

    </header>



    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader mb-0">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->





   

    <div class="section properties">
      <div class="container">
        <ul class="properties-filter">
          <li>
            <a  href="/tours" data-filter="*">Show All</a>
          </li>
          <li>
            <a class="is_active" href="/tours/lower" data-filter=".adv">Low Price</a>
          </li>
          <li>
            <a href="/tours/higest" data-filter=".str">Hight Price</a>
          </li>

        </ul>
        <div class="row properties-box">
          {% for tour in tours %}
          <div class="col-lg-4 col-md-6  text text-left  mb-30 properties-items col-md-6 adv">

            <div class="item">
              <a href="property-details.html"><img src="../static/images/{{tour.picture}}" alt=""></a>
              <span class="category">{{tour.destination}}</span>
              <br>
              <div>
                <h5 class="mt-4" style="color:#01b3a7;"> Price {{tour.price}} $</h5>
              </div>

              <p class="mt-4">{{tour.name}}</p>

              <h4><a href="property-details.html" </a>{{tour.description}}</h4>
              <p class="product-big-text mt-2">{{tour.flight_time}}- {{tour.return_time}}</p>

              <a class="button button-black-outline button-ujarak" href="/bye/tour/{{tour.id}}">Buy This Tour</a>


            </div>

          </div>
          {% endfor %}



        </div>
      </div>
  </div>

      <footer style="background-color: #162e44;">
        <div class="container">
          <div class="col-lg-12">
            <p>Copyright © Odysse Travell. All rights reserved.

              Design: <a rel="nofollow" href="https://www.linkedin.com/in/era-bullari-180276239/" target="_blank">Era Bullari</a></p>
          </div>
        </div>
      </footer>

      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->
      
      <script type="text/javascript" src="{{ url_for('static', filename='/js/counter.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='/js/isotope.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='/js/owl-carousel.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='/js/custom.js') }}"></script>


      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/js/isotope.min.js"></script>
      <script src="assets/js/owl-carousel.js"></script>
      <script src="assets/js/counter.js"></script>
      <script src="assets/js/custom.js"></script>



      <!-- Javascript-->
      <script type="text/javascript" src="{{ url_for('static', filename='/js/core.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>


      <script src="js/core.min.js"></script>
      <script src="js/script.js"></script>
      <a href="#" id="ui-to-top" class="ui-to-top fa fa-chevron-up active "><img src="../static/images/up-chevron.png" alt="" width="20""> </a>

</body>

</html>